<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:tiles="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>分配单</title>
<script src="js/jquery-2.1.4.js"></script>

</head>
	<div class="banner">
		i am banner
	</div>
	<table>
	<tbody>
		<!--<tr th:each="activity,userStat : ${entity}">				-->
			<!--&lt;!&ndash;<td  th:class="startDate" th:text="${activity.showstartTime}"></td>&ndash;&gt;-->
			<!--&lt;!&ndash;<td th:class="endDate" th:text="${activity.showendTime}"></td>&ndash;&gt;-->
			<!--&lt;!&ndash;<td th:class="content2" th:text="${activity.privilegeName}"></td>&ndash;&gt;-->
			<!--&lt;!&ndash;<td th:class="activityName" th:text="${activity.activityName}"></td>&ndash;&gt;-->
			<!--&lt;!&ndash;<td  th:class="num" th:text="${userStat.size}"></td>&ndash;&gt;-->
			<!--&lt;!&ndash;<td th:class="createTime" th:text="${activity.showcreateTime}"></td>&ndash;&gt;-->
			<!--&lt;!&ndash;<td th:class="querystartDate" th:text="${activity.querystartTime}"></td>&ndash;&gt;-->
			<!--&lt;!&ndash;<td th:class="queryendDate" th:text="${activity.queryendTime}"></td>	 	 &ndash;&gt;-->
		<!--</tr>-->
		
	</tbody>
</table>
<body>
</body>
</html>
