<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hiersun.oohdear.user.mapper.UserSearchMapper">
  <resultMap id="BaseResultMap" type="com.hiersun.oohdear.user.entity.UserSearch">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="search_content" jdbcType="VARCHAR" property="searchContent" />
    <result column="search_count" jdbcType="INTEGER" property="searchCount" />
    <result column="member_no" jdbcType="VARCHAR" property="memberNo" />
    <result column="deleted" jdbcType="BIT" property="deleted" />
    <result column="last_modified" jdbcType="TIMESTAMP" property="lastModified" />
  </resultMap>
</mapper>