<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hiersun.oohdear.mapper.ArticleLabelMapper">
  <resultMap id="BaseResultMap" type="com.hiersun.oohdear.entity.ArticleLabel">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="label_content" jdbcType="VARCHAR" property="labelContent" />
  </resultMap>
</mapper>